<% content_for :button_list do %>
<div class="right-container">
  <%= button_to 'New ticket', new_ticket_path, :method => :get, :class => "green button" %>
  <%= button_to 'New contact', new_contact_path, :method => :get, :class => "green button" %>
</div>
<% end %>

<h2>Dashboard</h2>

<h3 class="toggle" id="active-tickets">Active Tickets</h3>
<div id="active-listing">
  <table class="listing" cellspacing="0">
  <thead>
    <tr class="header">
      <th>Ticket #</th>
      <th>Title</th>
      <th>Group</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Last Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @active_tickets.each do |ticket| %>
    <tr class="<%= cycle("list-line-odd", "list-line-even", :name => "active") %>">
      <% if ticket.priority.standard? -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "#{ticket.priority.name.downcase}" } -%></td>
      <% else -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "custom" } -%></td>
      <% end -%>
      <td><%=h truncate(ticket.title, :length => 40) %></td>
      <td><%= ticket.group.name %></td>
      <td><%= ticket.status.name %></td>
      <td><%= link_to ticket.owner.username, user_path(ticket.owner.id) unless ticket.owner.nil? %></td>
      <td><%= time_ago_in_words ticket.updated_at %> ago</td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>

<h3 class="toggle" id="closed-tickets">Recently Closed Tickets</h3>
<div id="closed-listing">
  <table class="listing" cellspacing="0">
  <thead>
    <tr class="header">
      <th>Ticket #</th>
      <th>Title</th>
      <th>Group</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Closed At</th>
    </tr>
  </thead>
  <tbody>
    <% @closed_tickets.each do |ticket| %>
    <tr class="<%= cycle("list-line-odd", "list-line-even", :name => "closed") %>">
      <% if ticket.priority.standard? -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "#{ticket.priority.name.downcase}" } -%></td>
      <% else -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "custom" } -%></td>
      <% end -%>
      <td><%=h truncate(ticket.title, :length => 40) %></td>
      <td><%= ticket.group.name %></td>
      <td><%= ticket.status.name %></td>
      <td><%= link_to ticket.owner.username, user_path(ticket.owner.id) unless ticket.owner.nil? %></td>
      <td><%= nice_date ticket.closed_at unless ticket.closed_at.nil? %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>

<h3 class="toggle" id="timeline-toggle">Timeline</h3>
<div id="timeline-wrapper">
  <div class="timeline left">
    <ul>
      <% @timeline.each_with_index do |t, i| -%>
        <% ticket_count = @timeline_opened_tickets[@timeline[i]].blank? ? 0 : @timeline_opened_tickets[@timeline[i]] -%>
        <li>
          <a href="#" title="<%= ticket_count -%> <%= ticket_count == 1 ? 'ticket' : 'tickets' -%> created on <%= t -%>" onclick="return false;">
            <span class="count" style="<%= ticket_count == 0 ? "height: 1px;" : ticket_count == @max_opened ? "height: 100%;" : (ticket_count.to_f/@max_opened)*100 < 1 ? "height: 1px;" : "height: #{(ticket_count.to_f/@max_opened)*100}%;" -%>"><%= ticket_count -%></span>
          </a>
        </li>
      <% end -%>
    </ul>
    <span class="timeline-label">Created Tickets</span>
  </div>
  <div class="timeline right">
    <ul>
      <% @timeline.each_with_index do |t, i| -%>
        <% ticket_count = @timeline_closed_tickets[@timeline[i]].blank? ? 0 : @timeline_closed_tickets[@timeline[i]] -%>
        <li>
          <a href="#" title="<%= ticket_count -%> <%= ticket_count == 1 ? 'ticket' : 'tickets' -%> closed on <%= t -%>" onclick="return false;">
            <span class="count" style="<%= ticket_count == 0 ? "height: 1px;" : ticket_count == @max_closed ? "height: 100%;" : (ticket_count.to_f/@max_closed)*100 < 1 ? "height: 1px;" : "height: #{(ticket_count.to_f/@max_closed)*100}%;" -%>"><%= ticket_count -%></span>
          </a>
        </li>
      <% end -%>
    </ul>
    <span class="timeline-label">Closed Tickets</span>
  </div>
</div>
