%h1= t(:sign_in)

= render partial: 'shared/flash', locals: { flash: flash }

= form_tag [:sessions] do
  %div
    %label{for: 'user-id'} User Id
    = text_field_tag :user_id, params[:user_id], id: 'user-id', placeholder: t(:email_or_username), required: true
  %div
    %label{for: 'password'} Password
    = password_field_tag :password, nil, id: 'password', placeholder: t(:password), required: true
  %div
    = submit_tag t(:sign_in), class: 'btn', id: 'sign-in'
