<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tools.min.js' %>
<% end %>

<h2>Admin</h2>

<%= error_messages_for :group %>
<%= error_messages_for :status %>
<%= error_messages_for :priority %>
<%= error_messages_for :user %>

<ul class="jquery-tabs">
  <li><a href="#"><%= t '.groups' %></a></li>
  <li><a href="#"><%= t '.statuses' %></a></li>
  <li><a href="#"><%= t '.priorities' %></a></li>
  <li><a href="#"><%= t '.users' %></a></li>
</ul>

<div class="jquery-tab-panes">
  <div class="pane">
    <h3 class="toggle" id="group-enabled-toggle"><%= t 'enabled' %></h3>
    <% unless @groups_enabled.blank? %>
    <ul class="admin-list" id="group-enabled-list">
      <% @groups_enabled.each do |g| %>
        <li>
          <%= g.name %>
          <span><%= link_to t( 'disable' ), { :action=> 'toggle_group', :controller => 'admin', :id => g.id }, :class => 'disable', :method => :post, :confirm => t( '.really_disable_group', :group => g.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <h3 class="toggle" id="group-disabled-toggle"><%= t 'disabled' %></h3>
    <% unless @groups_disabled.blank? %>
    <ul class="admin-list" id="group-disabled-list">
      <% @groups_disabled.each do |g| %>
        <li>
          <%= g.name %>
          <span><%= link_to t( 'enable' ), { :action=> 'toggle_group', :controller => 'admin', :id => g.id }, :class => 'enable', :method => :post, :confirm => t( '.really_enable_group', :group => g.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <% form_for Group.new, :url => { :action => 'add_group', :controller => 'admin' }, :html => { :class => 'admin-form' } do |f| %>
      <p>
        <%= f.text_field :name, :class => 'textfield' %>
        <%= f.submit t( 'button.add_group' ), :class => 'button' %>
      </p>
    <% end %>
  </div>
  <div class="pane">
    <h3 class="toggle" id="status-enabled-toggle"><%= t 'enabled' %></h3>
    <% unless @statuses_enabled.blank? %>
    <ul class="admin-list" id="status-enabled-list">
      <% @statuses_enabled.each do |s| %>
        <li>
          <%= s.name %>
          <span><%= link_to t( 'disable' ), { :action=> 'toggle_status', :controller => 'admin', :id => s.id }, :class => 'disable', :method => :post, :confirm => t( '.really_disable_status', :status => s.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <h3 class="toggle" id="status-disabled-toggle"><%= t 'disabled' %></h3>
    <% unless @statuses_disabled.blank? %>
    <ul class="admin-list" id="status-disabled-list">
      <% @statuses_disabled.each do |s| %>
        <li>
          <%= s.name %>
          <span><%= link_to t( 'enable' ), { :action=> 'toggle_status', :controller => 'admin', :id => s.id }, :class => 'enable', :method => :post, :confirm => t( '.really_enable_status', :status => s.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <% form_for Status.new, :url => { :action => 'add_status', :controller => 'admin' }, :html => { :class => 'admin-form' } do |f| %>
      <p>
        <%= f.text_field :name, :class => 'textfield' %>
        <%= f.submit t( 'button.add_status' ), :class => 'button' %>
      </p>
    <% end %>
  </div>
  <div class="pane">
    <h3 class="toggle" id="priority-enabled-toggle"><%= t 'enabled' %></h3>
    <% unless @priorities_enabled.blank? %>
    <ul class="admin-list" id="priority-enabled-list">
      <% @priorities_enabled.each do |p| %>
        <li>
          <%= p.name %>
          <span><%= link_to t( 'disable' ), { :action=> 'toggle_priority', :controller => 'admin', :id => p.id }, :class => 'disable', :method => :post, :confirm => t( '.really_disable_priority', :priority => p.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <h3 class="toggle" id="priority-disabled-toggle"><%= t 'disabled' %></h3>
    <% unless @priorities_disabled.blank? %>
    <ul class="admin-list" id="priority-disabled-list">
      <% @priorities_disabled.each do |p| %>
        <li>
          <%= p.name %>
          <span><%= link_to t( 'enable' ), { :action=> 'toggle_priority', :controller => 'admin', :id => p.id }, :class => 'enable', :method => :post, :confirm => t( '.really_enable_priority', :priority => p.name ) %></span>
        </li>
      <% end %>
    </ul>
    <% end %>
    <% form_for Priority.new, :url => { :action => 'add_priority', :controller => 'admin' }, :html => { :class => 'admin-form' } do |f| %>
      <p>
        <%= f.text_field :name, :class => 'textfield' %>
        <%= f.submit t( 'button.add_priority' ), :class => 'button' %>
      </p>
    <% end %>
  </div>
  <div class="pane">
    <% form_for :user, :url => { :action => 'add_user', :controller => 'admin' }, :html => { :id => 'add-user', :class => 'admin-form' } do |f| %>
      <p>
      <label for="user_username"><%= t 'username' %></label>
        <%= f.text_field :username, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_first_name"><%= t 'users.users.first_name' %></label>
        <%= f.text_field :first_name, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_last_name"><%= t 'users.users.last_name' %></label>
        <%= f.text_field :last_name, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_language"><%= t 'users.users.language' %></label>
        <%= f.select :language, available_locales, {}, :class => 'selectbox' %>
      </p>
      <p>
        <label for="user_time_zone"><%= t 'users.users.timezone' %></label>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { :default => 'Central Time (US & Canada)' }, { :class => 'selectbox' } %>
      </p>
      <p>
        <label for="user_email"><%= t 'email' %></label>
        <%= f.text_field :email, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_email_confirmation"><%= t 'confirm_email' %></label>
        <%= f.text_field :email_confirmation, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_password"><%= t 'password' %></label>
        <%= f.password_field :password, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <label for="user_password_confirmation"><%= t 'confirm_password' %></label>
        <%= f.password_field :password_confirmation, :size => 30, :class => 'textfield' %>
      </p>
      <p>
        <%= f.submit t( 'button.add_user' ), :class => 'button' %>
      </p>
    <% end %>
  </div>
</div>

<!-- activate tabs with JavaScript -->
<script type="text/javascript">
$(function() {
  $("ul.jquery-tabs:first").tabs("div.jquery-tab-panes:first > div", { effect: 'fade', fadeOutSpeed: 0 <%= ", initialIndex: #{@initial_tab_index} " unless @initial_tab_index.blank? %>});
});
</script>
