<h2><%= t 'edit' %> <%= @user.username -%></h2>
 
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <dl>
    <%= render :partial => "form", :object => f %>
    <dd><%= f.submit t( 'button.update' ), :class => "button" -%>&nbsp;&nbsp;<%= link_to t( 'cancel' ), user_path %></dd>
  </dl>
<% end %>
