<% content_for :head do %>
<%= javascript_include_tag 'pagination' %>
<% end %>

<% content_for :button_list do %>
<div class="right-container">
  <%= button_to t( 'button.new_ticket' ), new_ticket_path, :method => :get, :class => "green button" %>
  <%= button_to t( 'button.new_contact' ), new_contact_path, :method => :get, :class => "green button" %>
</div>
<% end %>

<h2><%= t '.users' %></h2>

<%= render :partial => 'contacts/alphabet' %>

<div id="users">
  <%= render 'users' %>
</div>
