<% content_for :head do -%>
<%= javascript_include_tag 'pagination' %>
<% end -%>

<% content_for :button_list do -%>
<div class="right-container">
  <%= button_to 'New ticket', new_ticket_path, :method => :get, :class => "green button" %>
  <%= button_to 'New contact', new_contact_path, :method => :get, :class => "green button" %>
</div>
<% end -%>

<h2>Users</h2>

<%= render :partial => 'contacts/alphabet' -%>

<div id="users">
  <%= render 'users' -%>
</div>
