<div class="right" id="controls">
  <% if @current_user.admin? -%>
    <%= link_to 'Edit', edit_user_path(@user), :class => 'edit-user', :title => 'Edit user' %> |
    <% unless @user.enabled? -%>
      <%= link_to 'Enable', toggle_user_path, :confirm => "Really enable #{@user.username}?", :method => :post, :class => 'enable', :title => 'Enable user' -%> |
    <% else -%>
      <%= link_to 'Disable', toggle_user_path, :confirm => "Really disable #{@user.username}?", :method => :post, :class => 'disable', :title => 'Disable user' -%> |
    <% end -%>
    <% if @user.locked? -%>
      <%= link_to 'Unlock', unlock_user_path, :confirm => "Really unlock #{@user.username}?", :method => :post, :class => 'unlock', :title => 'Unlock user' -%> |
    <% end -%>
  <% elsif @current_user.id == @user.id -%>
    <%= link_to 'Edit', edit_user_path, :class => 'edit-user', :title => 'Edit user' %> |
  <% end -%>
  <%= link_to 'Back', :back, :class => 'back', :title => 'Go back' -%>
</div>

<%#= image_tag "avatar.gif", :alt => "", :class => "profile-avatar" %>
<%= user_avatar @user %>
<h2 style="display: inline;"<%= @user.enabled? ? '' : ' class="disabled"' -%>><%= h @user.username -%></h2>

<table class="profile <%= @user.enabled? ? '' : 'disabled' -%>">
  <tr>
    <td class="field">First name:</td><td class="value"><%=h @user.first_name -%></td>
    <td class="field">Last name:</td><td class="value"><%=h @user.last_name -%></td>
  </tr>
  <tr>
    <td class="field">Email:</td><td class="value"><%=h @user.email -%></td>
    <td class="field">Timezone:</td><td class="value"><%=h @user.time_zone -%></td>
  </tr>
  <tr>
    <td class="field">Last login:</td><td class="value"><%= nice_date @user.last_login_at unless @user.last_login_at.nil? -%></td>
    <td class="field">Last login IP:</td><td class="value"><%=h @user.last_login_ip -%></td>
  </tr>
  <% unless @user.enabled? -%>
  <tr>
    <td class="field">Disabled at:</td><td class="value"><%= nice_date @user.disabled_at -%></td>
    <td></td><td></td>
  </tr>
  <% end -%>
</table>

<% unless @recently_assigned_to.empty? -%>
  <h3 class="toggle" id="assigned-to-toggle">Recently Assigned Tickets</h3>
  <div id="assigned-to-listing">
  <table class="listing" cellspacing="0">
  <thead>
    <tr class="header">
      <th>Ticket #</th>
      <th>Title</th>
      <th>Group</th>
      <th>Status</th>
      <th>Contact</th>
      <th>Last Activity</th>
    </tr>
  </thead>
  <tbody>
    <% @recently_assigned_to.each do |ticket| %>
    <tr class="<%= cycle("list-line-odd", "list-line-even", :name => "active") %>">
      <% if ticket.priority.standard? -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "#{ticket.priority.name.downcase}" } -%></td>
      <% else -%>
        <td><%= link_to ticket.id, ticket, { :title => "Ticket ##{ticket.id}: #{ticket.priority.name} priority", :class => "custom" } -%></td>
      <% end -%>
      <td><%=h truncate(ticket.title, :length => 40) %></td>
      <td><%= ticket.group.name %></td>
      <td><%= ticket.status.name %></td>
      <td><%= link_to ticket.contact.full_name, contact_path(ticket.contact.id) -%></td>
      <td><%= time_ago_in_words ticket.updated_at %> ago</td>
    </tr>
    <% end %>
  </tbody>
  </table>
  </div>
<% end -%>

<% if (@current_user.id == @user.id or @current_user.admin?) and !@user.alerts.empty? -%>
  <h3 class="toggle" id="alerts-toggle">My Ticket Alerts</h3>
  <div id="alert-list">
    <ul>
      <% @user.alerts.each do |alert| -%>
      <li>
        <strong><%= link_to "Ticket ##{alert.ticket_id}", ticket_path(alert.ticket_id) -%></strong> added on <%= nice_date alert.created_at unless alert.created_at.nil? -%>
        <span><%= link_to 'Delete', { :action=> 'destroy', :controller => 'alerts', :id => alert.id }, :method => :delete, :confirm => "Really delete alert for ticket ##{alert.ticket_id}?" -%></span>
      </li>
      <% end -%>
    </ul>
  </div>
<% end -%>
