<% content_for :head do %>
  <%= javascript_include_tag 'pagination' %>
<% end %>

<% content_for :ticket_filter do %>
  <%= render 'ticket_filter' %>
<% end %>

<% content_for :button_list do %>
  <div class="right-container">
    <%= button_to t( 'button.new_ticket' ), new_ticket_path, :method => :get, :class => "green button" %>
    <%= button_to t( 'button.new_contact' ), new_contact_path, :method => :get, :class => "green button" %>
  </div>
<% end %>

<h2 class="left"><%= t '.tickets' %></h2>

<% if @tickets.length < 1 %>
  <br class="clear"/>
  <p><%= t '.no_tickets_found' %></p>
<% else %>
  <div id="tickets">
    <%= render 'tickets' %>
  </div>
<% end %>
