<dt><label for="contact_first_name">First name</label></dt>
<dd><%= text_field :contact, :first_name, :class => 'textfield' -%></dd>

<dt><label for="contact_last_name">Last name</label></dt>
<dd><%= text_field :contact, :last_name, :class => 'textfield' -%></dd>

<dt><label for="contact_email">Email</label></dt>
<dd><%= text_field :contact, :email, :class => 'textfield' -%></dd>

<dt><label for="contact_mobile_phone">Mobile phone</label></dt>
<dd><%= text_field :contact, :mobile_phone, :class => 'textfield' -%></dd>

<dt><label for="contact_office_phone">Office phone</label></dt>
<dd><%= text_field :contact, :office_phone, :class => 'textfield' -%></dd>

<dt><label for="contact_affiliation">Affiliation</label></dt>
<dd><%= text_field :contact, :affiliation, :class => 'textfield' -%></dd>

<dt><label for="contact_notes">Notes</label></dt>
<dd><%= text_area :contact, :notes, :size => '70x6', :class => 'textarea' -%></dd>
