<h2><%= t '.new_contact' %></h2>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>
  <dl>
    <%= render :partial => 'form' -%>
    <dd><%= f.submit t( 'button.create' ), :class => "button" -%>&nbsp;&nbsp;<%= link_to t( 'cancel' ), contacts_path -%></dd>
  </dl>
<% end -%>
