<div id="login-content">
  <h1><%=t 'sign_in' -%></h1>

  <div class="box">
    <%= show_flash -%>
    <% form_for @user_session, :url => user_session_path do |f| -%>
      <dl>
        <dt><label for="user_session_username"><%=t 'username' -%></label></dt>
        <dd><%= f.text_field :username, :size => 20, :class => "textfield" -%></dd>
        <dt><label for="user_session_password"><%=t 'password' -%></label></dt>
        <dd><%= f.password_field :password, :size => 20, :class => "textfield" -%></dd>
        <dd><%= f.check_box :remember_me -%><label for="user_session_remember_me"><%=t 'remember_me' -%></label></dd>
        <dd><%= f.submit t('sign_in'), :class => "button" -%></dd>
        <dd><%= link_to t('forgot_password'), new_password_reset_path -%></dd>
      </dl>
      <% end %>
  </div>
</div>
