!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %title= t(:app_title)
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body{id: 'sessions-controller'}
    .topbar
      .fill
        .container
          %h3.brand= t(:app_title)
    .container
      %section#login
        = yield
    .container
      %footer
        %p TicketMule &copy; 2009 Lee Smith
